---
import { type CollectionEntry, getCollection } from 'astro:content';
import GlobalLayout from '../../layouts/global-layout.astro';
type Props = CollectionEntry<'posts'>;

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content, headings } = await post.render();
---
<GlobalLayout>
  <article>
    <label>By {post.data.author ?? `Mario Yepes`}</label>
    <time datetime={post.data.date.toISOString()}>{post.data.date.toDateString()}</time>
    <Content />
  </article>

  <pre>
    {JSON.stringify(post, null, 4)}
  </pre>

  <pre>
  {JSON.stringify(headings, null, 4)}
  </pre>
</GlobalLayout>

<style is:global>
h1 {
  text-align: center;
}
article :where(h1, h2, h3) {
  margin-block-start: 1em;
  margin-block-end: .2em;
}
</style>
