---
import { type CollectionEntry, getCollection } from 'astro:content';
import GlobalLayout from '../../layouts/global-layout.astro';
import '../../styles/blog-slug.css';

type Props = CollectionEntry<'posts'>;

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content, headings } = await post.render();
---
<GlobalLayout>
  <article>
    <header>
      <label>By {post.data.author ?? `Mario Yepes`}</label>
      <time datetime={post.data.date.toISOString()}>{post.data.date.toDateString()}</time>
    </header>
    <main>
      <Content />
    </main>
    <aside>
        <ul>
          <li><strong>Tags: </strong></li>
          {post.data.tags.map( tech => <li><a href={`/blog/#${tech}`}>{tech}</a></li>)}
        </ul>
    </aside>
  </article>
</GlobalLayout>

