
:root {
  --mario: 'Yepes';
  --font-sans: 'Fira Sans', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  ---size-header-1: 120ch;
  ---size-content-3: 120ch;
  ---size-content-2: 90ch;
  --text-1: var(--gray-8);
  --brand: var(--indigo-8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-1: var(--gray-2);
  }
}
/* Normalize overrides */
:where(h1, h2, h3, h4, h5, h5, p, blockquote) {
  max-inline-size: none;
}

:where(p,ul,ol,dl,h6) {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

:where(:not(pre)>code) {
  font-size: clamp(0.8em, 2vw, 1em);
}

html {
  font-weight: 300;
  line-height: var(--font-lineheight-4);
}

body > * {
  padding-left: var(--size-3);
  padding-right: var(--size-3);
}

article {
  width: 100ch;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

p {
  margin-bottom: calc( var(--size-3) * 2);
}

a {
  font-weight: 700;
}

a:hover {
  color: var(--brand);
}

blockquote {
  border-color: var(--gray-3);
  font-style: italic;
  font-weight: var(--font-weight-2);
  margin: calc(var(--size-3) * 4 ) 0;
}

blockquote p:last-child {
  margin-bottom: unset;
}

img {
  margin-inline: auto;
}

pre:has(code) {
  padding: var(--size-3);
  border-radius: var(--size-2);
  box-shadow: var(--shadow-6);
  _width: 90%;
  max-inline-size: unset;
  margin-inline: auto;
  margin: calc(var(--size-3) * 4 ) clamp(var(--size-1), 3vw, var(--size-6));
}

