.page-blog {
  article {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    transition: all 0.3s ease-in;

    &:hover {
      box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.1);
      border-bottom-color: transparent;
    }

    header {
      min-height: 6em;
      display: flex;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem;

      h4 {
        margin: 0;
      }
    }
    aside.col-sm-1 {
      padding: 1.2rem .2rem;
    }
    aside.col-sm-3 {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
