
h2 {
  font-size: 1.3rem;
}
img {
  display: inline-block;
  box-shadow: var(--shadow-3);
}
article {
  animation: .3s all ease;
  border-bottom: 1px solid var(--gray-3);
  padding: 2rem .5rem;
  display: grid;
  gap: 0.4rem;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 
    "image title date"
    "image tags read";

  &:hover {
    box-shadow: var(--shadow-4);
  }

  @media (max-width: 700px) {
    grid-template-areas:
      "title"
      "link";
  }

  & > *:nth-child(1) { grid-area: image; }
  & > *:nth-child(2) { grid-area: title; }
  & > *:nth-child(3) { grid-area: tags; }
  & > *:nth-child(4) { grid-area: date; }
  & > *:nth-child(5) { grid-area: read; }
}


/* Style the read-more and date */
article > *:nth-child(3) ,
article > *:nth-child(5) {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
article > *:nth-child(4) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

/* Style the tags */
article ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  font-size: .8rem;
  font-weight: normal;
}

