/* src/styles/global.css */

@import url("font-face.css") layer(base);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--pagefind-ui-font: "Fira Sans";
	--pagefind-ui-text: initial;
	--pagefind-ui-border-width: 1px;
	--pagefind-ui-background: inherit;
}

.pagefind-ui {
	@apply bg-gray-100 dark:bg-gray-800;
}
