
// Make every article item a grid of 3 columns.
article {
  padding-block: calc(var(--size-3) * 2);
  border-bottom: 1px solid var(--gray-4);
  display: grid;
  gap: var(--size-4);
  grid-template-columns: fit-content(20%) 1fr fit-content(20%);
  grid-template-areas: 
    "image title date"
    "image tags read";

  @media (max-width: 700px) {
    grid-template-columns: 2fr 3fr ;
    grid-template-areas:
      "title title"
      "image date"
      "image tags"
      "image read";
  }

  & > *:nth-child(1) { grid-area: image; display: flex; }
  & > *:nth-child(2) { grid-area: title; display: flex; }
  & > *:nth-child(3) { grid-area: tags; display: flex; }
  & > *:nth-child(4) { grid-area: date; display: flex; }
  & > *:nth-child(5) { grid-area: read; display: flex; }
}

h2 {
  font-size: 1.4rem;
  font-weight: bolder;
}

img {
  object-fit: contain;
  margin-inline: auto;
  background-color: var(--gray-0);
}

/* Style the tags */
article ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: .9rem;
  gap: 1em;
  justify-content: flex-start;
  line-height: 2;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: 700px) {
    justify-content: flex-end;

  }
  align-items: right;

  li {
    padding: 0;
  }
}

article time {
  justify-content: flex-end;
}

article a:last-of-type {
  justify-content: flex-end;
}
