
// Make every article item a grid of 3 columns.
article {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: fit-content(20%) 1fr fit-content(20%);
  grid-template-areas: 
    "image title date"
    "image tags read";



  @media (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title title"
      "image date"
      "image tags"
      "image read";
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "date"
      "tags"
      "image"
      "read";
  }

  & > *:nth-child(1) { grid-area: image; display: flex; }
  & > *:nth-child(2) { grid-area: title; display: flex; }
  & > *:nth-child(3) { grid-area: tags; display: flex; }
  & > *:nth-child(4) { grid-area: date; display: flex; }
  & > *:nth-child(5) { grid-area: read; display: flex; }
}

article {
  padding-block: calc(var(--size-3) * 2);
  border-bottom: 1px solid var(--gray-4);
}

h1 {
  text-align: center;
  margin-inline: auto;
  padding-bottom: calc(var(--size-3) * 3);
}

img {
  object-fit: contain;
}

h2 {
  font-size: 1.4rem;
  font-weight: bolder;
}

/* Style the tags */
article ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: .8rem;
}

