
h1 {
  text-align: center;
}
article {
  animation: .3s all ease;
  width: 160ch;
  display: grid;
  grid-template-areas:
    "image title"
    "image client"
    "image summary"
    "image tech"
    "image link";
  grid-template-columns: 2fr 3fr;
  padding: var(--size-6) var(--size-3);
  margin-top: calc(var(--size-6) * 3 );

  &:hover {
    box-shadow: var(--shadow-6);
  }

  @media (max-width: 700px) {
    grid-template-areas: "title" "image" "client" "summary" "tech" "link";
    grid-template-columns: 1fr;
  }
}
article > *:nth-child(1) { grid-area: image; }
article > *:nth-child(2) { grid-area: title; }
article > *:nth-child(3) { grid-area: client; }
article > *:nth-child(4) { grid-area: summary; }
article > *:nth-child(5) { grid-area: tech; }
article > *:nth-child(6) { grid-area: link; text-align: right; }


article ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 0.9rem;
}
