
// Add padding to the sides of the header
header {
  padding-inline: var(--size-3);
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > nav > a {
  margin-block: auto;
  margin-inline: 0;
  padding-block: var(--size-1);
  height: 6rem;
  transition: all 0.3s ease;

  @media (max-width: 700px) {
    inline-size: 3rem;
    block-size: 3rem;
  }

  &:hover {
    transform: scale(120%) translateY(10%) translateX(10%);
  }
}

header > nav > menu {
  list-style: none; 
  display: flex;
  gap: var(--size-3);

  // Adding an animated underline on hover
  a {
    border-bottom: 0 solid transparent;
    position: relative;

    &:after {
      background-color: var(--link);
      display: block;
      content: '';
      height: 2px;
      width: 0;
      position: absolute;
      bottom: -2px;
      left: 0;
      transition: all 0.3s ease;
    }

    &:hover {
      text-decoration: none;

      &:after {
        width: 100%;
      }
    }
  }
}
