
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "scrolltop copyright social";
  justify-content: center;
  align-items: center;
  padding-inline: var(--size-3);

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-areas: "scrolltop" "social" "copyright";

    & > * {
      display: flex;
      justify-content: center;
    }
  }

  & > *:nth-child(1) { grid-area: scrolltop;}
  & > *:nth-child(2) { grid-area: copyright;}
  & > *:nth-child(3) { grid-area: social;}

}

// The scroll to top link.
footer > div > a {
  position: fixed;
  bottom: 2ch;
  left: 2ch;
  display: block;
  width: 5ch;
  height: 5ch;
  border: 1px solid var(--gray-0);
  box-shadow: var(--shadow-3);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--gray-3);
  cursor: pointer;
  transition: .3s all ease;

  &:hover {
    box-shadow: var(--shadow-6);
  }
}

// Social media icons.
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 700px) {
    justify-content: center;
  }

  a {
    display: flex;
    margin: 0;
    height: 2rem;
    margin-block: 1rem;
    max-inline-size: none;
  }
}

