article {
  --size-content-4: 100ch;
  overflow-x: scroll;
}
h1, h2, h3 {
  margin-block-start: 1em;
  margin-block-end: .2em;
  max-inline-size: 100%;
  margin-top: 2em;
  margin-bottom: .7em;
}
aside a {
  display: inline-block;
  margin-left: var(--size-3);
}
aside ul {
  max-inline-size: var(--size-content-4);
  display: flex;
  margin: 0 auto;
  padding: calc(var(--size-3) * 2) 0;
  list-style: none;
  justify-content: flex-end;
  font-size: 0.9rem;
}

img {
  margin-inline: auto;
}
