article {
  --size-content-4: 100ch;
  overflow-x: scroll;
}

article header {
  display: flex;
  justify-content: space-between;
  color: var(--gray-6);
  margin-block: 1em 0;
  max-inline-size: var(--size-content-3);
  margin-inline: auto;
}

h1, h2, h3 {
  margin-block: 1em .3em;
  max-inline-size: 100%;
}

aside a {
  display: inline-block;
  margin-left: var(--size-3);
}

aside ul {
  max-inline-size: var(--size-content-4);
  display: flex;
  margin: 0 auto;
  padding: calc(var(--size-3) * 2) 0;
  list-style: none;
  justify-content: flex-end;
  font-size: 0.9rem;
}

img {
  margin-inline: auto;
}
