
main {
  display: grid;
  gap: var(--size-3);
  grid-template-areas: "title title" "content sidebar";
  grid-template-columns: 3fr 1fr;
  
  & > *:nth-child(1) { grid-area: title; }
  & > *:nth-child(2) { grid-area: content; }
  & > *:nth-child(3) { grid-area: sidebar; }

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "sidebar" "content";
  }
}


// tags
aside ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .9rem;
  font-weight: normal;
}

