---
import SiteLayout from "../layout/site-layout.astro";
---

<SiteLayout title="Page Not Found">
	<main>
		<h1>Upsss Page not found</h1>
		<p>Try going to the <a href="/">home page</a></p>
	</main>
</SiteLayout>
