---
import {Image} from 'astro:assets';
import GlobalLayout from '../layouts/global-layout.astro';
import imgMario from '../images/img-mario-lado.jpg';
---
<GlobalLayout>
  <main>
    <h1>Hola, Soy Mario</h1>
    <section>
      <p>I’m an Electric Engineer turned Software Developer that is addicted to technology news, and that hates to do the same thing twice.</p>
      <p>For more than 20 years I’ve worked in several areas of IT:</p>
      <ul>
        <li>Web Master</li>
        <li>Linux and Solaris server Management</li>
        <li>Oracle DBA</li>
        <li>PL/SQL Developer</li>
        <li>Backend Developer</li>
        <li>Front End Developer</li>
        <li>UX Lead</li>
        <li>Scrum Master</li>
        <li>Product Owner</li>
        <li>WordPress Plugin Developer</li>
      </ul>
    </section>
    <section>
      <picture>
        <Image src={imgMario} alt="Mario Yepes portrait" widths={[300, 600]} width={400} />
      </picture>
    </section>
    <section>
        <a class="btn" href="https://docs.google.com/document/d/1lP4DPa3Pztid-yCrT8chuKTm_6SRp0Lo7PTq_dmfKI0/export?format=pdf">Download my Rèsumè</a>
    </section>
  </main>
</GlobalLayout>

<style>
main {
  width: 120ch;
  max-width: 100%;
  margin-inline: auto;
  min-height: calc(100vh - 8rem);
  display: grid;
  grid-template-areas: 
    "title title"
    "intro picture"
    "resume resume";
  grid-template-rows: repeat(aut-fill, minmax(3rem, 1fr));
}

@media (max-width: 700px) {
  main {
    grid-template-areas: 
      "title"
      "intro"
      "resume"
      "picture";
    grid-template-rows: auto;
  }
}

main > h1 {
  grid-area: title;
  text-align: center;
}

main > section:nth-of-type(1) {
  grid-area: intro;
}
main > section:nth-of-type(2) {
  grid-area: picture;
}
main > section:nth-of-type(3) {
  grid-area: resume;
  text-align: center;
}

img {
  border-radius: 50%;
}
</style>
