---
import { Image } from "astro:assets";
import SiteLayout from "../layout/site-layout.astro";
import imgMario from "../images/img-mario-lado.jpg";
---

<SiteLayout title="About & Contact">
	<main>
		<h1>Hola, Soy Mario</h1>
		<section>
			<p>I'm an Electric Engineer turned Software Developer that is addicted to technology news, and that hates to do the same thing twice.</p>
			<p>For more than 20 years I've worked in several areas of IT:</p>
			<ul>
				<li>Web Master</li>
				<li>Linux and Solaris server Management</li>
				<li>Oracle DBA</li>
				<li>PL/SQL Developer</li>
				<li>Backend Developer</li>
				<li>Front End Developer</li>
				<li>UX Lead</li>
				<li>Scrum Master</li>
				<li>Product Owner</li>
				<li>WordPress Plugin Developer</li>
			</ul>
		</section>
		<section>
			<picture>
				<Image src={imgMario} alt="Mario Yepes portrait" widths={[300, 600]} width={400} />
			</picture>
		</section>
		<section>
			<a class="btn" href="https://docs.google.com/document/d/1lP4DPa3Pztid-yCrT8chuKTm_6SRp0Lo7PTq_dmfKI0/export?format=pdf">Download my Rèsumè</a>
		</section>
	</main>
</SiteLayout>
