---
import { Image } from 'astro:assets';
import SiteLayout from '../layout/site-layout.astro';
import imgMarioBw from '../images/img-mario-bw.png';
import {SITE_TITLE} from '../consts.ts';
---

<SiteLayout title={`Home | ${SITE_TITLE}`} hideScroll={true}>
		<main>
			<h1>Hello,<strong>I'm Mario.</strong>I'm a Full Stack Developer from Medellín - Colombia</span></h1>
      <picture>
        <Image src={imgMarioBw} alt="Mario Yepes toon photo"/>
      </picture>
		</main>
</SiteLayout>

<style>
@import '../styles/page-index.scss';
</style>
