---
// src/pages/index.astro
import SiteLayout from "../layout/site-layout.astro";
import { Image } from "astro:assets";
import imgMarioBw from "../images/img-mario-bw.png";
---

<SiteLayout title="Welcome">
	<main>
		<h1>Hello,<strong>I'm Mario.</strong>I'm a Full Stack Developer from Medellín - Colombia</h1>
	</main>
	<picture>
		<Image src={imgMarioBw} widths={[280, 300, 380]} alt="Mario Yepes toon photo" loading="eager" />
	</picture>
</SiteLayout>
