---
import GlobalLayout from '../layouts/global-layout.astro';
import {Image} from 'astro:assets';
import imgMarioBw from '../images/img-mario-bw.png';
import '../styles/index.css';

---
<GlobalLayout hideScroll={true}>
		<main>
			<h1>Hello,<strong>I'm Mario.</strong>I'm a Full Stack Developer from Medellín - Colombia</span></h1>
      <picture>
        <Image src={imgMarioBw} alt="Mario Yepes toon photo"/>
      </picture>
		</main>
</GlobalLayout>
