.blog {
  article {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    transition: all 0.3s ease-in;
    padding: 0 1rem;

    &:hover {
      box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.1);
      border-bottom-color: transparent;
    }

    header {
      flex: 3;
    }
    aside {
      flex: 1;
      text-align: right;
      //   display: flex;
    }
  }
}
