.site-header {
  position: sticky;
  top: 0;
  background-color: $body-bg;
  z-index: 10;
  height: $site-header-height;
  display: flex;
  align-items: center;

  .wrapper {
    @include make-container();
    @include make-container-max-widths();
  }
  nav {
    display: flex;
    .site-title {
      flex: 1;
    }
    .main-menu {
      flex: 3;
    }
  }

  .site-title {
    margin: 0;
    line-height: 1;

    a {
      display: flex;
      background-color: $body-color;
      transition: all 0.3s ease;
      width: 60px;
      height: 60px;
      text-align: center;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: $link-color;
      }
    }

    svg {
      width: 50px;
      height: 50px;
      path {
        fill: $body-bg;
      }
    }
  }

  .main-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;

    li a {
      display: block;
      padding: 0.5rem 1rem;
      position: relative;
      font-size: 23px;

      &:hover {
        text-decoration: none;
      }

      &:after {
        content: " ";
        width: 0;
        height: 3px;
        background-color: $link-color;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.2s linear;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
}
