.portfolio {
  article {
    display: flex;
    margin-bottom: 6rem;
    min-height: 10rem;
    transition: all 0.3s ease-in;

    &:hover {
      box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.1);
    }

    aside {
      flex: 2;
    }

    main {
      flex: 3;
    }
  }

  main {
    display: flex;
    padding: 0 1rem;
    flex-direction: column;

    .summary {
      flex: 2;
    }

    .tags {
      text-align: right;
    }
    .read-more {
      text-align: right;
    }
  }
}
