// Variables Override
$pink: #f50057;

$danger: $pink;

$body-color: #37474f;
$link-color: $pink;
$font-family-base: "Fira Sans";
$line-height-base: 1.7;
$font-weight-normal: 300;

// Bootstrap reboot
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";

// Styling
html {
  font-size: 18px;
}

h1 {
  font-size: 1rem * 3.052;
}

// Pages and components
@import "header";
@import "footer";
@import "site-inner";
