// Variables Override
$pink: #f50057;
$danger: $pink;
$body-color: #37474f;
$link-color: $pink;
$font-family-base: "Fira Sans";
$line-height-base: 1.7;
$font-weight-normal: 300;

// Local variables
$site-header-height: 80px;
$site-footer-height: 60px;

// Bootstrap reboot
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";

// Styling
html {
  font-size: 18px;
}

a {
  font-weight: 700;
}

$previous: 1 / 1.25;
@for $i from 6 through 1 {
  h#{$i} {
    font-size: $previous * 1.25rem;
  }
  $previous: $previous * 1.25;
}

// Pages and components
@import "header";
@import "footer";
@import "site-inner";

@import "portfolio";
@import "blog";
