---
import { Image } from 'astro:assets';
import HeaderLink from './site-header-link.astro';
import iconDeveloper from '../images/svg/icon-developer.svg?raw';

---

<header>
	<nav>
		<a href="/" aria-label="Front page" set:html={iconDeveloper} class="header-logo"></a>
		<menu>
      <li>
        <HeaderLink href="/portfolio">Portfolio</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/about">About</HeaderLink>
      </li>
      
		</menu>
	</nav>
</header>

<style>
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    max-inline-size: calc(var(--size-content-2) * 4);
    padding: var(--size-2);
  }
  menu {
    list-style: none; 
    margin: 0;
    display: flex;
    gap: var(--size-4);
  }
  menu > * {
    padding-inline: 0;
  }
</style>
