---
import HeaderLink from './site-header-link.astro';
---

<header>
	<nav>
		<div><a href="/">Mario Yepes Blog</a></div>
		<menu>
      <li>
        <HeaderLink href="/portfolio">Portfolio</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/about">About</HeaderLink>
      </li>
      
		</menu>
	</nav>
</header>
