---
import HeadMeta from '../components/head-meta.astro';
import SiteHeader from '../components/site-header.astro';
import SiteFooter from '../components/site-footer.astro';
import '../styles/global.css'; 
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<HeadMeta title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<SiteHeader title={SITE_TITLE} />
    <slot />
		<SiteFooter />
	</body>
</html>
