---
import HeadMeta from './head-meta.astro';
import SiteHeader from './site-header.astro';
import SiteFooter from './site-footer.astro';
import TagManagerHead from '../components/tagmanager-head.astro';
import TagManagerBody from '../components/tagmanager-body.astro';


import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const {hideScroll, title = SITE_TITLE } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <HeadMeta title={title} description={SITE_DESCRIPTION} />
    <TagManagerHead />
  </head>
  <body>
    <TagManagerBody />
    <SiteHeader title={SITE_TITLE} />
    <slot />
    <SiteFooter hideScroll={hideScroll} />
  </body>
</html>

<style is:global>
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";
@import "../styles/site-font-face.scss";
@import "../styles/global.scss";
</style>
